* {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

@font-face {
  font-family: sora;
  src: url(./assets/Font/Sora-Regular.ttf);
}

body {
  font-family: sora;
}

.categories-div ::-webkit-scrollbar{
  width: 0;
}
